body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}

header {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}

main {
  margin: 0;
  padding: 0;
}

.segitiga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  padding: 20px;
  gap: 30px;
  box-sizing: border-box;
}

.jajargenjang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  gap: 40px;
}

.segitiga section {
  flex: 1;
}
.jajargenjang section {
  flex: 1;
}

nav a {
  height: 50px;
  align-content: center;
  background-color: aliceblue;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.active {
  background-color: aqua;
}

nav a:hover {
  background-color: aquamarine;
}

main {
  margin-top: 10px;
  margin-bottom: 10px;
}

.segitiga {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Bisa diubah tergantung kebutuhan */
  align-items: flex-start; /* Tambahan opsional */
  width: 100vw; /* Pakai lebar viewport */
  padding: 20px;
  gap: 30px; /* Jarak antar section */
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  border: none;
  color: white;
  padding: 13px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  width: 20%;
  border-radius: 8px;
}

.hitung {
  background-color: green;
}
.reset {
  background-color: red;
}

.hitung:hover {
  background-color: greenyellow;
  color: black;
}
.reset:hover {
  background-color: orange;
  color: white;
}

.form-hitung {
  display: flex;
  flex-direction: column;
}

img {
  height: 200px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: bisque;
  margin-top: 10px;
  padding: 5px;
}
