body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  height: 50px;
  align-content: center;
  background-color: aliceblue;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.active {
  background-color: aqua;
}

nav a:hover {
  background-color: aquamarine;
}

main {
  display: flex;
  gap: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main > section {
  flex: 1;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
}

button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  width: 20%;
  align-self: center;
  border-radius: 8px;
}

button:hover {
  background-color: greenyellow;
  color: black;
}

.form-hitung {
  display: flex;
  flex-direction: column;
}

img {
  height: 200px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: bisque;
  margin-top: 10px;
  padding: 5px;
}
